# --- General ---
NGINX_PORT=80
NODE_ENV=
APP_ENV=

# --- MySQL ---
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# --- Symfony ---
APP_SECRET=change_me_generate_a_random_secret
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

# Nelmio/cors-bundle
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

# --- Next.js ---
NEXT_PUBLIC_API_URL=/api
NEXT_SERVER_HOST=http://nginx