.who-am-i {
    @include flexbox(
        $j-content: space-between,
        $a-item: center,
        $gap: rem(20),
        $f-wrap: nowrap,
    );

    &-img {
        max-width: rem(300);
        border-radius: map-get($borderRadius, m);
    }
}

@media (max-width: 767px) {
    .who-am-i {
        @include flexbox(
            $j-content: center,
            $f-wrap: wrap-reverse,
            $gap: rem(20),
        );
    }
}